body {
    direction: rtl;
    background-color:white;
   /* font-family: 'Rubik', sans-serif;*/
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

@media screen and (max-width: 768px) {

  /* עיצוב כרטיסיות בעמוד פנימי מסך קטן*/
  .card {
    min-width: 280px;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerinpage{
    height: 58vh;
  }

  .header{
    max-width: 100%;
  }


}

@media (max-width: 1920px) {
  header {
    height: auto;
    background-size: cover;
    max-width: 100%;
  }
  }



/*ראש עמוד*/
.header{
font-family: 'Rubik', sans-serif;
background-image: url('../images/headerBack.png');
background-repeat: no-repeat;
background-size: cover;
height: auto;
/*background-position: center;*/
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.header img{
  max-width: 70%;
  height: auto;
}

.header h2 {
  color:#050505!important;
  font-weight: 600;
}

.header p {
  color: #0d0d0d !important;
}

/*footer start*/
.footer{
  background-image: url('../images/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex; 
}

.footer a {
  text-decoration: none;
}
.footerText{
  padding-top: 10rem
}

.footer a.text-black {
  font-size: 18px;
  margin-right: 1rem;
}
.footer ul li {
  font-size: 14px;
}

@media (max-width: 767px) {
  /* להסתיר את הטקסט בפוטר במסך קטן */
  .footerText,
  .footerText a {
    display: none;
  }
  
  /* להציג רק רק מהטקסט של הפוטר */
  .mobileFooter {
    display: block;
  }
  .mobileFooter a{
    display: block;
  }
}

/*footer end*/



.custom-btn {
  background-color: #f4f4f4;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
  background-color: #539d9d; 
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


/*כותרות בעמודים בפניימיים h4*/

/* פירורי לחם לינקים עיצוב*/ 
a.my-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.footer a{
  color: black!important;
  text-decoration: none!important;
margin-right: 20px;

}

/*-----------  מסך גדולmain רקע------------*/
.background-image {
  position: absolute;
  bottom: 0;
  left: 50px;
  top: 250px;
  z-index: -1;
max-width: 20%;
  height: auto;
  object-fit: cover;
  object-position: bottom left;
  background-repeat: no-repeat;
}



/*-----------main רקע------------*/
/* כרטיסים עיצוב*/
.card{
  border-color: gray;
--bs-card-border-width: 0px;
box-shadow: 0px 0px 10px 0px gray;
border-radius: 20px;
max-width:300px ;
max-height:400px;
min-height: 450px;
}

.cardInnerPage{
  min-width: 200px;
  min-height:380px;
}


  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px gray;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .card-body {
    transition: all 0.2s ease-in-out;
  
  }
.card h5{
  color: #050505;
  text-decoration: none!important;
 
}

.card img{
  border-radius: 20px;
  object-fit: cover;
  padding: 20px 20px 0px 20px;
}



.card-text{
  color: black;
  text-decoration: none!important;
}
/*תגיות*/
.badge {
  --bs-badge-color: #000;
background-color: #e1daf4;
width: 30%;
margin-inline-end: auto;
}


  
  /* תפריט ניווט*/
  .navbar {
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }


  
  .nav-link {
    font-size: 1.1rem;
    margin-right: 1rem;
    color:#050505!important;
  }
 
  .nav-link:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
  } 
  .navbar-light {
    background-color: #ebf4ff!important;
  }

  
  .navbar-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    overflow-y: auto;
  }
  

  .navbar-brand img {
    width: 70px; 
    height: auto; 
  }
  
  @media (max-width: 767px) {
 .navbar-brand img {
  width: 70px; 
  height: auto; 
    }
  }
  /*תמונה בתוך כרטיס בעמוד פנימי מסך גדול*/
 





 
  /*
.search-dropdown{
  display: block;
  top: 50px;
  left: -50;
  inline-size: 206px;

}
*/

/* ============ מסכים גדולים ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		right:100%; top:-7px;
	}
	.nav-item .submenu-right{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ מסכים גדולים// ============ */

/* ============ מסך קטן ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ מסך קטן/ ============ */

/*-------------כרטיס הגדרות מסך מובייל*/

  /* עיצוב כרטיסיות בעמוד פנימי מסך קטן*/
  /* */
@media (max-width: 767px) {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: auto;
    border-radius:10px;
  }

  .card img{
    border-radius: 20px;
    object-fit: cover;
    padding: 10px 10px 10px 10px;
  }

  .card-img-top {
    max-width: 30%;
    float: right;
  }

  .card-body {
    flex-grow: 1;
    overflow: hidden; /* להסתיר טקסט שיוצא מהמסגרת */
    padding: 1rem;
  }

  .card-title,
  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* טקסט מיותר להסתיר */
  }


  .background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 180px;
    z-index: -1;
  max-width: 50%;
    height: auto;
    object-fit: cover;
    object-position: bottom left;
    background-repeat: no-repeat;
  }
}
