body {
    direction: rtl;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    height: auto;
  }
  .headerinpage{
    height: 40vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

@media screen and (max-width: 768px) {

  /* עיצוב כרטיסיות בעמוד פנימי מסך קטן*/
  .cardInnerPage {
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
  }
 .cardInnerPage img{
    width: 30%;
    float: right;
    object-fit: cover;
    border-radius: 20px;
 }

 .cardInnerPage-image-container {
  padding: 20px;
}

  .cardInnerPage-body {
    float: left;
    width: 30%;
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    
  }


  


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerinpage{
    height: 50vh;
  }
}

@media (max-width: 1920px) {
  header {
    height: auto;
  }
}
/*ראש עמוד*/
.header{
background-image: url('../images/Artboard\ 1.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
}
.header h1 {
  color:#050505!important;
}

.header p {
  color: #0d0d0d !important;
}


.custom-btn {
  background-color: #f4f4f4;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
  background-color: #539d9d; 
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


/*כותרות בעמודים בפניימיים h4*/
h4{
  color: #539d9d;

}
/* פירורי לחם לינקים עיצוב*/ 
a.my-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}



/* כרטיסים עיצוב*/
.card{
  border-color: #539d9d;
--bs-card-border-width: 2px;
}
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .card-body {
    background-color:#539d9d;
    transition: all 0.2s ease-in-out;
 

  }
.card h5{
  color: black;
  text-decoration: none!important;
 
}

.card-text{
  color: black;
  text-decoration: none!important;
}

  .card:hover .card-body {
    background-color: rgba(218, 207, 232, 0.8);

  }
  
  /* תפריט ניווט*/
  .navbar {
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.1rem;
    margin-right: 1rem;
  }
 
  .nav-link:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
  } 
  .navbar-dark {
    background-color: #539d9d;
  }
  
  
  .navbar-side-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    overflow-y: auto;
  }
  

  /*תמונה בתוך כרטיס בעמוד פנימי מסך גדול*/


  .cardInnerPage img{
    border-radius: 20px;
 }


 
  /*
.search-dropdown{
  display: block;
  top: 50px;
  left: -50;
  inline-size: 206px;

}
*/